


/* HOME */

#map{
    width: 100%;
    /* background-color: aquamarine; */
    height: 40em;
}

.row.rowChat {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* responsive */
@media only screen and (min-width: 1000px)  {
    .form-group.vv {
        position: absolute;
        top: 0;
        z-index: 1;
        /* left: 0; */
        right: 0;
        /* margin: 100px; */
        margin-top: 50px;
        margin-right: 10px;
    }
    .button-export{
        width: 150px;
        position: absolute;
    width: 165px;
    right: 10px;
    bottom: 37px;
    }
}

